.bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
  }
  
  .bm-burger-bars {
    background: #373a47;
  }
  
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  .bm-cross {
    background: #bdc3c7;
  }
  
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  .bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  .bm-item {
    display: inline-block;
    margin-bottom: 10px;
  }
  
  .bm-item h3 {
    color: #b8b7ad;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.1em;
    margin-bottom: 0;
  }
  
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
  
  .menu {
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 1;
  }
  